* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

main {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  flex-wrap: wrap;
}

.label {
  font-size: 12px;
}

input{
  margin: 0.2rem;
}

.input-container{
  padding: 0.25rem;
  border: 1px solid;
  width: fit-content;
  margin: 0.1rem;
}

.speed-container {
  border-right: none;
  margin-right: -1px;
}

.duration-container {
  border-left: none;
  margin-left: -1px;
}

input.speed,
input.duration,
input.transition{
  max-width: 45px;
}

input.speed[step='any']{
  max-width: 55px;
}

input+select{
  height: 21.33px;
}

.transition-container{
  margin-right: 0.66rem;
}

.duration-container{
  margin-right: 0.66rem;
}

.btnGroup-vert{
  display: flex;
  flex-direction: column;
}

button{
  transition: all, 0.3s;
  border-width: 1px;
  cursor: pointer;
}

button:hover{
  filter: brightness(75%);
}

.addBtn {
  padding-top: 0.25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  /* background-color:limegreen; */
}

.rmvBtn {
  padding-bottom: 0.25rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  /* background-color:red; */
}

.chart-container{
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container canvas{
  width: 90%;
}