* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

main {
  text-align: center;
}

input{
  margin: 0.2rem;
}

input.speed,
input.duration,
input.transition{
  max-width: 45px;
}

input.speed[step='any']{
  max-width: 55px;
}

.transition+select{
  margin-right: 0.66rem;
}

.duration+select{
  margin-right: 0.66rem;
}

.chart-container{
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container canvas{
  width: 90%;
}